.App {
  text-align: center;
  font-family: 'Helvetica Neue';

}

.App-header {
  background-color: #033076;
  min-height: 10vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  color: white;
  box-shadow: 0px 5px 10px #000000;
}

.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.Feedback-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}


.FormField-container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 200px rgb(255, 255, 255);
  filter: blur(50px);
}

.FormField-container {
  width: 50rem;
  height: 20rem;
  border-radius: 5px;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  width: 900px;
  height: 350px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 5px 5px 7px 2px rgba(3, 47, 118, 0.583), inset 0px 0px 4px 2000px rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2.5px);
  border-radius: 30px;
  width: 950px;
  height: 450px;
  margin-bottom: 50px;


}

.section-header {
  color: #033076;
  font-size: 2.5rem;
}

.input-wrapper {
  margin-bottom: 75px;

}

.InputLabel > p {
  color: #033076;
  font-size: 1.5rem;
  font-weight: bold;

}

.num-input {
  width: 150px;
  padding: 12px 2px;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-weight: 600;

}

input:focus-visible {
  border: 2px solid purple;
  border-radius: 2px;
}


.num-input:placeholder-shown {
  font-family: 'Helvetica Neue';
  font-weight: 600;
  text-align: center;

}

a {
  color: aliceblue;
}

a:hover{
  color: #033076;
}

.next-button:enabled {
  width: 8vw;
  padding: 15px 2px;
  border: 5px solid #033076;
  border-radius: 8px;
  background-color: #033076;
  font-family: 'Helvetica Neue';
  font-weight: 600;


}

.next-button:disabled {
  width: 8vw;
  padding: 15px 2px;
  border: 5px solid #032f7600;
  border-radius: 8px;
  color: aliceblue;
  background-color: #032f765f;
  cursor: no-drop;
  font-family: 'Helvetica Neue';
  font-weight: 600;
}

.next-button:enabled:hover {
  box-shadow: 5px 5px 1px #6e6e6e;
  cursor: pointer;
  background-color: transparent;
  color: #033076;


}

.text-area {
  resize: none;
  width: 480px;
  height: 100px;
  font-family: 'Helvetica Neue';
  font-weight: 600;
  padding: 10px;
}

.text-area:placeholder {
  font-family: 'Helvetica Neue';
  font-weight: 600;
}

textarea:focus::placeholder {
  color: transparent;
}

.score {
  font-size: 1.5rem;
  font-style: italic;
}

.review-wrapper {
  margin-left: 250px;
  padding-bottom: 25px;
  text-align: left;
}